/* colours */
html{
    --black-100: #F3F3F3;
    --black-200: #E9E9E9;
    --blue-500: #2F59F5;
    --black-900: rgba(0, 0, 0, 0.88);
    --hover-color: #EBEBEB; 
    --footer-color: #2F2F2F; 

/* Fonts */

    --font-family: 'Poppins', sans-serif;

    --display1: 48px;
    --display1-bold: 600;

    --title1: 24px;
    --title1-regular: 400;

    --text1: 16px;
    --text1-regular: 400;
    --text1-bold: 600;

    --text2: 20px;
    --text2-bold: 600;

 /* Spacing */

    --spacing-64: 64px;
    --spacing-32: 32px;
    --spacing-24: 24px;
    --spacing-16: 16px;
    --spacing-8: 8px;

 /* Other */
    --border-default: 16px;
    --elevation-default: 0px 2px 20px rgba(0, 0, 0, 0.08);

}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--text1);
    font-weight: var(--text1-regular);
}

/* resets */
* {
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

p, ul,li{
    margin:0;
    padding: 0;
}

/* styles */

nav{
    background-color: var(--black-100);
    flex: 220px 0 0;
    height: 100%;
    padding: 0;
}

.side-nav li{
    padding: var(--spacing-16);
    font-size: var(--text2);
    display: flex;
    align-items: center;
}

.side-nav li img{
    margin-right: var(--spacing-16);
}


.logo{
    background-color: #C4C4C4;
    height: 104px;
    width: 104px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-64);
    margin-left: var(--spacing-32);
    margin-bottom: 160px;
}

main{
    padding: var(--spacing-64);
    padding-top: var(--spacing-32);
    flex-grow: 1;
}

.wrapper{
    flex: auto 1 1;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: var(--display1);
    font-weight: var(--display1-bold);
    margin: 0px;
}

.contact{
    background-color: var(--black-100);
    border-radius: var(--border-default);
    border: 1px solid var(--black-200);
    padding: var(--spacing-16);
    box-shadow: var(--elevation-default);
    display: inline-block;
    position: fixed;
    top: var(--spacing-32);
    right: var(--spacing-64);
}

.mobile{
    color: var(--blue-500);
    font-weight: var(--text1-bold);
}

section.intro{
    font-size: var(--title1);
}

section.about{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto 200px;
    grid-template-areas: 
    "title title title"
    "personality tools education"
}

section.other{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto 200px;
    grid-template-areas: 
    "title title title"
    "languages freetime inspiration"
}
/* Case studies styles begin */

section.projects{
    margin-top: var(--spacing-64);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 240px 240px;
    grid-gap: var(--spacing-32);
    grid-template-areas: 
    "project project"
    "project project"
}

.project-example{
    background-color: white;
    border-radius: var(--border-default);
    border: 1px solid var(--blue-500);
    box-shadow: var(--elevation-default);
}

.project-info{
    padding: var(--spacing-16);
}

.project-info h3{
    margin: 0;
}

.project-thumb{
    height: 154px;
    background-color: var(--blue-500);
    border-top-left-radius: var(--border-default);
    border-top-right-radius: var(--border-default);
}

/* Case studies styles end */

/* Article styles start */

.article-thumb{
    height: 154px;
    background-color: var(--black-200);
    border-top-left-radius: var(--border-default);
    border-top-right-radius: var(--border-default);
    border-bottom: 1px solid var(--blue-500);
}

/* Article styles end */

h2.subheading{
    font-size: var(--title1);
    font-weight: var(--title1-regular);
    font-style: italic;
    margin: var(--spacing-64) 0 var(--spacing-32);
    grid-area: title;
}

/* positioning creating issues when inside and when outside, too */
.list-with-bullets li{
    list-style-type: disc;
    list-style-position: inside;
}

.list-with-bullets ul{
    padding: 16px;
}


.education ul{
    display: flex;
    height: 100%;
}

.education li{
    flex-grow: 1;
   
}

.blue-subtitle{
    font-weight: var(--text1-bold);
    color: var(--blue-500);
}

.year, .level{
    font-weight: var(--text1-bold);
    margin-left: 12px;
}

.education li p:not(:last-child){
    margin-bottom: 1.525em;
}

.title{
    font-weight: var(--text2-bold);
}


.elevated-button{
    box-shadow: var(--elevation-default);
    border-radius: 50%;
    flex-shrink: 0;
}

.panel-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-16);
}

.panel{
    border-bottom: 1px solid var(--black-200);
}

.position-details, .position-info{
    flex: 50% 1 1;
}


footer{
    background-color: var(--footer-color);
    display: flex;
    color: white;
    justify-content: space-between;
    padding: var(--spacing-16);
    align-items: center;
    flex-grow: 0;
}


.panel-content{
    display: flex;
    margin-bottom: var(--spacing-32);
}

.panel.closed .panel-content{
display: none;
}

footer li{
    display: inline-block;
}

footer li:not(:last-child){
    margin-right: var(--spacing-32);
}